.tmap {
  margin: 25px 30px 0;
}

#mapid { 
  height: 500px; 
  margin: 10px 30px;
} 

.field-card {
  margin: 10px 30px;  
}

@media only screen and (max-width: 768px) {
  #mapid { 
    height: 360px; 
    margin: 10px 5px;
  } 

  .tmap {
    margin: 15px 5px 0;
  }

  .field-card {
    margin: 24px 5px;  
  }
}

.pac-container {
    z-index: 10000 !important;
}

.badge-player {
  padding: 0.38em .56em;
  font-size: 100%;
}

.badge-location {
  padding: 0.5em .7em;
  font-size: 100%;
}
.card-header.profile {
  cursor: pointer;
}

.card-header.player {
    padding: .35rem 0.7rem;
}

.modal-open {
  position: fixed;
  width: 100%;
}

.question-list {
  list-style-type: none;
  padding-left: 5px;
}

.question-list li {
  border: solid 3px #eee;
  padding: 18px;
  margin-bottom: 10px;
  border-radius: 10px;  
  cursor: pointer;
}

.question-list li.active {
  border-color: #28a745;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#id-sec-issue {
  font-size: 16px;
}

#id-sec-address {
  font-size: 19px;
}

#id-sec-chart {
  font-size: 19px; 
  margin-bottom: 100px;
}

body {
  /* from https://uigradients.com/ */
  /* Telegram */
  /*background: #1c92d2;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* #Portrait */
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}